pyrogram==2.0.106
tgcrypto==1.2.5
python-telegram-bot==20.7
apscheduler==3.10.4
aiosqlite==0.20.0
python-dotenv==1.0.0
asyncio-throttle==1.0.2
Pillow==10.2.0
aiofiles==23.2.1
fastapi==0.111.0
uvicorn[standard]==0.30.1
